.card-container {
    margin: 20px;
  }
  
  .custom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  mat-card-header {
    padding-bottom: 0;
  }
  
  mat-card-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  img {
    height: auto; /* adjust based on your preference */
    max-width: 100%;
  }
  
  mat-card-actions {
    justify-content: flex-end;
  }