.navbar {
  box-shadow: 1px 10px 22px -2px rgba(0,0,0,0.51);
-webkit-box-shadow: 1px 10px 22px -2px rgba(0,0,0,0.51);
-moz-box-shadow: 1px 10px 22px -2px rgba(0,0,0,0.51);
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar .navbar-nav {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar .nav-item {
  margin: 0;
}

.navbar img {
  height: 2rem; /* Adjust the size of the logo as needed */
}