<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-2">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">New Password</label>
        <div class="flex items-center border rounded shadow appearance-none">
            <input type="password" formControlName="newPassword" id="newPassword" placeholder="********"
                class="w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <button type="button" appTogglePassword class="fa fa-eye p-2"></button>
        </div>
        <div *ngIf="passwordControl?.invalid && (passwordControl?.dirty || passwordControl?.touched)"
            class="text-red-500 text-xs italic">
            <p *ngIf="passwordControl?.errors?.['required']">This field is required.</p>
            <p *ngIf="passwordControl?.errors?.['minlength']">This field must be at least {{
                passwordControl.errors?.['minlength']?.['requiredLength'] }} characters.</p>
        </div>
    </div>

    <div class="mb-2">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
        <div class="flex items-center border rounded shadow appearance-none">
            <input type="password" formControlName="confirmPassword" id="confirmPassword" placeholder="********"
                class="w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <button type="button" appTogglePassword class="fa fa-eye p-2"></button>
        </div>
        <div *ngIf="confirmPasswordControl?.invalid && (confirmPasswordControl?.dirty || confirmPasswordControl?.touched)"
            class="text-red-500 text-xs italic">
            <p *ngIf="confirmPasswordControl?.errors?.['required']">This field is required.</p>
            <p *ngIf="confirmPasswordControl?.errors?.['minlength']">This field must be at least {{
                confirmPasswordControl.errors?.['minlength']?.['requiredLength'] }} characters.</p>
        </div>
    </div>
    
    <div class="flex items-center my-4 justify-between ">
        <button type="submit"
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Reset Password</button>
    </div>
    
</form>